{% extends 'home.html' %}

{% block title %}Detail - {{ movie.title }}{% endblock title %}

{% block content %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'movie_list' %}">Movies</a>
    <h2>{{ movie.title }} ({{ movie.release_year }})</h2>
    <p>Rating: {{ movie.mpaa_rating }}</p>
    <p>Runtime: {{ movie.run_time_minutes }} minutes</p>
    <a href="{% url 'movie_update' movie.id %}">Update Movie</a>
    <a href="{% url 'movie_delete' movie.id %}">Delete Movie</a>
{% endblock content %}